.env
fetched_data/
.DS_Store
__MACOSX
.venv/
.pytest_cache
__pycache__
*checkpoint.ipynb
*.ipynb_checkpoints

tmp/
german_manifestos/

.terraform/
tf.plan

data/*

docs/*

practicepreach/playground/*
